 *, 
html, 
body {
    font-family: 'Comfortaa' , 'sans-serif';
    margin: 0;
    padding: 0;
    color: black;
} 
h1,h2,h3,h4,h5 {
    font-family: 'Confortaa', 'serif';
    margin: 0;
    padding: 0;
}
p {
    padding: 0;
    margin: o;
}

/* container */

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;

}
.img-responsive {
    width: 100%;
}

.jc-spacebetween {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.spacersection {
    padding: 2%;
}

.spacercontent {

    margin-bottom: 20px;
}

.bigtitle {
    font-size: 3em;
}

.items {
    font: 30px;
    color: #222;
}


/* button */
.bigbtn {
    padding: 20px 40px;
    background: black;
    color: bisque;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
}

.btn-outline {
    padding: 15px ;
    background: none;
    color: white;
    display: inline-block;
    border: 2px solid #fff;
    font-size: 12px;
    letter-spacing: 2px;
}


/* header */
.nav-brand a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
}

header nav ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}
header nav ul li  {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;

}
header nav ul li a  {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    
}
header nav ul li a:hover  {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}


/* hero */
.hero .hero-desc {
    width: 40%;

}
.hero .hero-desc p {
    font-size: 14px;
    line-height: 180%;
}

.hero-image {
    width: 55%;
}


/* category  */

.category .category-item {
    height: 400px;  
    overflow: hidden;
    position: relative;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 96%;
    padding: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -moz-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -ms-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
    -o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.overlay h2,p {
    color: white;
}

.overley:hover {
    opacity: 1;
}


.shopping-item {
    width: 18%;
}
.shopping-item > a {
    letter-spacing:  2px;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}
.shopping-item > h4 {
    margin-bottom: 10px;

}

.shopping-item > h3 {
    margin-bottom: 5px;
}


.footer {
    background: black;

}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
}
.product > p {
    color: black;
    font-weight: bold;
}

.owner {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.owner-info {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card img {
    width:500px;
    
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 10px 0px 17px 10px;
    margin-top:  10px;
}




/* Media quary  */




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 425px) {
    .bigtitle {
        display:  none;

    }
    hero-image {
        margin:  block ;
    }
}
@media only screen and (max-width: 768px) {
   /* Navbar */

    .nav-menu{
    display: none;
}
    .nav-brand {
    margin : 0 auto;
}
    .hero-desc{
    text-align: center;
    margin: 0 auto;
}
.items{
    display: none;
}

    .hero-image {
    display: none;
}

/* end navbar */

/* category */

.overlay {
    display: none;
}
.img-category {
    display: none;
}
.img-tablet{

    height: 0 auto;

}

.owner {
    width: 0 auto;
}
}

@media only screen and (max-width: 1024px) {
    .kebaya {
        display: none;
    }
    .title-kebaya {
        display: none;
    }
}